<div class="container-fluid" *ngIf="imageOverview">
  <div class="row">
    <div class="col d-flex justify-content-between">
      <app-image-recognition-toolbar
        [zoomManager]="zoomManager"
        [(mode)]="mode"
        (modeChange)="onModeChange($event)"
        [selectionDone]="isSelectionDone()"
        (onDelete)="onDelete()"
        (onClear)="onClear()"></app-image-recognition-toolbar>
        <p><a [routerLink]="['/imageRecognition/documentAnalysis', imageOverview.prevImageID]"> &#60; </a>
        <a [routerLink]="['/imageRecognition/documentAnalysis', imageOverview.nextImageID]">&#62; </a>
      <div id="slider" class="d-flex align-items-center">
        <button class="btn-secondary" (click)="onRevertRotation()">Revert</button>
        <ngx-slider [(value)]="sliderImageRotation" [options]="sliderOptions"></ngx-slider>
        <button class="btn-secondary" (click)="onSaveRotation()">Save</button>
      </div>
      <app-classifiers [title]="'Select a document analysis classifier'" [models]="documentAnalysisModels$ | async" (onExecuteClassifier)="attemptDocumentAnalysis($event)">
      </app-classifiers>
      <app-document-phases [selectedPhase]="'documentAnalysis'"  [imageID]="imageID" [size]="'lg'"></app-document-phases>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <app-document-analysis-toolbar [regionTypes]="regionTypes$ | async" [selectedRegion]="selectedRegionType" (onChangeRegion)="changeRegionType($event)"></app-document-analysis-toolbar>
    </div>
    <div class="col-11">
      <ng-container *ngIf="regionTypes$ | async as regionTypes">
        <app-image-document-analysis-navigator *ngIf="documentAnalysisShapes"
          [(mode)]="mode"
          [loadedImage]="masterImageURL"
          [regionTypes]="regionTypes"
          [shapes]="documentAnalysisShapes"
          (onNavigatorContextMenu)="onContextMenu($event)"
          [contextMenu]="contextMenu"
          [zoomManager]="zoomManager"
          (onShapesSelected)="onDocumentAnalysisShapesSelected($event)"
          [nextShapeToAdd]="'Rectangle'"
          (onSvgShapeCreated)="onSVGShapeCreated($event)"
          (onSvgShapeChanged)="onSVGShapeChanged($event)"
          [addRegionTypeToFilter]="selectedRegionType"
          [imageRotation]="getImageRotation()"
        ></app-image-document-analysis-navigator>
      </ng-container>
    </div>
  </div>
</div>

<!-- Positioned absolute -->
<app-progress-status (statusChange)="onStatusChange($event)" [(status)]="status"></app-progress-status>
