<div class="container" *ngIf="imageOverview">
  <div class="row">
    <div class="col-8">
      <app-image-document-analysis-navigator *ngIf="(loadedImage$ | async) as loadedImage"
        [loadedImage]="loadedImage"
        [regionTypes]="regionTypes$ | async"
        [shapes]="documentAnalysisShapes"
        [zoomManager]="zoomManager"
      ></app-image-document-analysis-navigator>
    </div>
    <div class="col-4">
      <ul>
        <!--<li>Show/hide: <app-image-show-hide [imageID]="imageID" [hidden]="imageOverview.hidden"></app-image-show-hide></li> It does not refresh the hidden attribute-->
        <li>Document analysis: <app-image-phase-document-analysis [imageID]="imageID"  [size]="'lg'" [status]="getProgressStatusOfPhase('documentAnalysis')"></app-image-phase-document-analysis></li>
        <li>Parts: <app-image-phase-parts [imageID]="imageID"  [size]="'lg'" [status]="getProgressStatusOfPhase('parts')"></app-image-phase-parts></li>
        <li>Score transcription: <app-image-phase-transcription [imageID]="imageID"  [size]="'lg'" [status]="getProgressStatusOfPhase('transcription')"></app-image-phase-transcription></li>
      </ul>
      <form>
        <h5>Comments</h5>
        <textarea [(ngModel)]="comments" [ngModelOptions]="{standalone: true}" (ngModelChange)="onCommentsChanged($event)"></textarea>
        <br>
        <button class="btn-primary" *ngIf="commentsChanged" (click)="saveComments()">Save comments</button>
      </form>
    </div>
  </div>
</div>


