.alignmentPreviewCanvases {
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-wrap: nowrap;
}
.alignmentPreviewCanvases div {
  height: 100%;
}

.previewPart {
  height: 100%;
  margin-bottom: 50px;
}

.alignmentPreviewCanvases h5 {
  text-align: right;
  font-size: smaller;
}

#pianoRoll .dropdown {
  height: 20px;
}

.dropdown-item {
  background-color: white;
  color: black;
}
