<div *ngIf="documentOverview" id="document"
     appSelectableContainer [selectionManager]="selectedImages">
  <div class="container">
    <div class="row">
      <div class="col d-flex justify-content-between">
        <a (click)="openDocumentOverview()">Document overview</a>
        <p>Right click on selected images for further exporting and part linking</p>
      </div>
    </div>
  </div>
  <app-section *ngFor="let section of orderedSections; trackBy: sectionTracking"
               [documentPath]="documentOverview.path"
               [documentID]="documentID"
               [images]="section.images"
               [documentParts]="orderedParts"
               [section]="section"
               [sections]="documentOverview.sections"
               [selectionManager]="selectedImages"
               [partsInImages]="partsInImages$ | async"
  >

  </app-section>
  <app-section [images]="documentOverview.images"
               [documentPath]="documentOverview.path"
               [documentID]="documentID"
               [documentParts]="orderedParts"
               [section]="null"
               [sections]="documentOverview.sections"
               [includeNewSection]="'true'"
               [selectionManager]="selectedImages"
               [partsInImages]="partsInImages$ | async"
  >
  </app-section>
</div>

