<div *ngIf="documentOverview" id="document"
     appSelectableContainer [selectionManager]="selectedImages">
  <div class="d-flex justify-content-end">
    <p>Right click on selected images for further exporting and part linking</p>
  </div>
  <app-section *ngFor="let section of orderedSections; trackBy: sectionTracking"
               [documentPath]="documentOverview.path"
               [documentID]="documentID"
               [images]="section.images"
               [documentParts]="orderedParts"
               [section]="section"
               [sections]="documentOverview.sections"
               [selectionManager]="selectedImages"
               [partsInImages]="partsInImages$ | async"
  >

  </app-section>
  <app-section [images]="documentOverview.images"
               [documentPath]="documentOverview.path"
               [documentID]="documentID"
               [documentParts]="orderedParts"
               [section]="null"
               [sections]="documentOverview.sections"
               [includeNewSection]="'true'"
               [selectionManager]="selectedImages"
               [partsInImages]="partsInImages$ | async"
  >
  </app-section>
</div>

