#homeLogo {
  margin-top: 10vh;
  margin-bottom: 10vh;
}
#homeLogo img {
  width: 100%;
}

#homeButtons {
  text-align: center;
}
#homeButtons img {
  width: 70%;
}

#lastDocuments {
  margin-top: 1rem;
}
#lastDocuments a {
  color: white;
}

#lastDocuments li {
  list-style: none;
  text-align: left;
}

