/*#agnosticToolbarEditButtons .active * {
  background-color: #D91E63;
}
*/

#toolbarPanel {
  background-color: #103339;
}

#agnosticOrSemanticSymbolFilter * {
  color: white;
}

#agnosticOrSemanticSymbolFilter .active * {
  color: #D91E63;
}

.btn {
  font-size: small;
  text-align: center;
}
