<app-image-phase-overview  [imageID]="imageID" [size]="size"></app-image-phase-overview>&nbsp;
<app-image-phase-document-analysis [selected]="selectedPhase=='documentAnalysis'" [imageID]="imageID" [size]="size" [status]="getPhaseStatus('documentAnalysis')"></app-image-phase-document-analysis>
<app-image-phase-parts [selected]="selectedPhase=='parts'" [imageID]="imageID" [size]="size" [status]="getPhaseStatus('parts')"></app-image-phase-parts>
<app-image-phase-transcription [selected]="selectedPhase=='transcription'" [imageID]="imageID" [size]="size" [status]="getPhaseStatus('transcription')"></app-image-phase-transcription>
