<div class="container">
  <div class="jumbotron" id="muretaboutlogo">
    <p><img class="img-fluid" src="assets/images/logos/muret_negativo.png" alt="Logo MuRET"></p>
    <p>Music Recognition, encoding, and transcription</p>
  </div>
  <div class="row" id="cite">
    <div class="offset-3 col-7">
      <h3>Cite as:</h3>
      <p>
        Rizo, D.; Calvo-Zaragoza, J.; Iñesta, J.M.<br/>
        <strong>"MuRET: a music recognition, encoding, and transcription tool"</strong><br/>
        Proceedings of the 5th International Conference on Digital Libraries for Musicology (DLfM'18), ISBN: 978-1-4503-6522-2, pp. 52--56, París, France (2018)
      </p>
    </div>
  </div>
  <div class="row" id="logos">
    <div class="col-4">
      <p><img class="img-fluid" src="assets/images/logos/uacolor.jpg" alt="Logo UA"></p>
    </div>
    <div class="col-4">
      <p><img class="img-fluid" src="assets/images/logos/hispamus_negativo_sin_fondo.png" alt="Logo HISPAMUS"></p>
    </div>
    <div class="col-4">
      <p><img class="img-fluid" src="assets/images/logos/economiac.jpg" alt="Logo MuRET"></p>
    </div>
  </div>
  <footer id="footerAbout">
    <p>
      <a href="mailto:drizo [@] dlsi.ua.es ">Full stack development: David Rizo</a> | <a href="mailto:jcalvo [@] dlsi.ua.es ">Classifiers: Jorge Calvo-Zaragoza</a> |
      <a href="mailto:cperez [@] dlsi.ua.es ">Classifier servers: Carlos Pérez</a> |
      <a href="mailto:arios [@] dlsi.ua.es">Project technician</a>
      <a href="mailto:lvf.lauravasallo [@] gmail.com">©2018 Visual Design: Laura Vasallo</a>
    </p>
  </footer>
</div>
