.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

.jumbotron img {
  max-height: 20vh;
  max-width: 40vw;
}

.jumbotron p {
  text-align: center;
}

#logos p {
  text-align: center;
}
#logos img {
  width: 80%;
}

#footerAbout {
  font-size: 10px;
  position: fixed;
  bottom: 1em;
  width: 100%;
}

#footerAbout p {
  text-align: center;
}

#cite {
  margin-bottom: 5em;
  color: white;
  font-size: small;
}
