<div class="container">
  <div class="row titles">
    <div class="col-7 offset-1 align-self-end">
      <img src="assets/images/mycollections.png" alt="My collections"/>
    </div>
    <div class="col-4 screenTitle">
      <img class="img-fluid" src="assets/images/openproject_small.png" alt="Open project"/>
    </div>
  </div>

  <!-- Note here the observable is the auth$, not the auth.projectsCreated or auth.permissions, this explains this "auth$ | async as auth" construct  -->
  <div *ngIf="user$ | async as user; else loading">
    <div class="row projects">
      <div class="col-10 offset-1">
        <div class="row">
          <div *ngFor="let permission of user.permissions; trackBy: trackByPermissionFn" class="project col-4 col-lg-3">
            <div class="card">
              <img class="card-img-top img-thumbnail" *ngIf="permission.collection.thumbnailBase64Encoding" src="{{permission.collection.thumbnailBase64Encoding}}" alt="Collection thumbnail">
              <img class="card-img-top img-thumbnail" *ngIf="!permission.collection.thumbnailBase64Encoding" src="assets/images/empty_thumbnail.png" alt="Project thumbnail">
              <div class="card-body">
                <a [routerLink]="['/projects', permission.collection.id]">{{permission.collection.name}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    Loading user data ...
  </ng-template>
</div>
