<div id="statusBar" class="d-flex justify-content-center">
  <div id="progress-status" class="iconRadioGroup btn-group btn-group-toggle"
       name="modeRadioButtonGroup">

    <button ngbTooltip="Hidden" [ngClass]="getButtonClass('hidden')" (click)="changeStatus('hidden')">
        <fa-icon icon="eye-slash" class="icons" size="lg"></fa-icon>
    </button>

    <button ngbTooltip="Working, in progress" [ngClass]="getButtonClass('working')" (click)="changeStatus('working')">
      <fa-icon icon="spinner" class="icons" size="lg"></fa-icon>
    </button>

    <button ngbTooltip="Done" [ngClass]="getButtonClass('done')" (click)="changeStatus('done')">
      <fa-icon icon="check" class="icons" size="lg"></fa-icon>
    </button>
  </div>
</div>



