<nav class="navbar navbar-dark">
  <!-- Brand -->
  <div>
    <a class="navbar-brand" routerLink="home">
      <img src="assets/images/logos/muret_menu.png" alt="Logo MuRET">
    </a>
  </div>

  <!-- Toggler / collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" (click)="isMenuCollapsed = !isMenuCollapsed">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="export/trainingsets">Training sets</a>
      </li>
      <li class="nav-item">
        <a (click)="isMenuCollapsed = true" class="nav-link" href="https://github.com/HISPAMUS/muret/issues" target="_blank">Report an issue</a>
      </li>
      <li class="nav-item">
        <a (click)="isMenuCollapsed = true" class="nav-link" routerLink="about">About</a>
      </li>
    </ul>
  </div>
</nav>
