.icons {
  color: #7DE2DB;
}

.iconRadioGroup .active * {
  color: #D91E63;
}

.iconRadioGroup button:disabled * {
  color: gray;
}

.iconRadioGroup button {
  background-color: transparent;
  border-color: transparent;
}

#labelMode {
  font-size: small;
  color: #D91E63;
}

.separator
{
  border:2px solid #7DE2DB;
  margin-top: .2em;
  margin-left: .7em;
  margin-right: .7em;
  height: 30px;
}

label
{
  /*margin-top: .5em;*/
}
label:hover
{
  background-color: #7DE2DB;
  cursor: pointer;
}

label:hover *
{
    color: #103339;
}

/*input[type=radio] + .icons {
  color: red;
  background-color: yellow;
}*/
