<form>
  <div class="btn-group-vertical btn-group-toggle" ngbRadioGroup
       name="modeRadioButtonGroup" [(ngModel)]="mode">
    <label ngbButtonLabel class="btn-light">
      <input name="modeRadioButton" ngbButton type="radio" [value]="'eIdle'"> View
    </label>
    <label ngbButtonLabel class="btn-light">
      <input name="modeRadioButton" ngbButton type="radio" [value]="'eEditing'" > Edit
    </label>
    <label ngbButtonLabel class="btn-light">
      <input name="modeRadioButton" ngbButton type="radio" [value]="'eAdding'" > Add
    </label>

    <label ngbButtonLabel class="btn-light">
      <button (click)="clear()">Clear</button>
    </label>
    <label ngbButtonLabel class="btn-light">
      <button [disabled]="!isEditingMode()" (click)="deleteSelected()">Delete</button>
    </label>
  </div>
  <hr>
</form>
