    <form>
      <div class="iconRadioGroup btn-group btn-group-toggle" ngbRadioGroup
           name="modeRadioButtonGroup" [(ngModel)]="mode">

        <label ngbButtonLabel>
          <a (click)="zoomOut()"><fa-icon icon="search-minus" class="icons" size="lg"></fa-icon></a>
        </label>

        <label ngbButtonLabel>
          <a (click)="zoomIn()"><fa-icon icon="search-plus" class="icons" size="lg"></fa-icon></a>
        </label>
        <label ngbButtonLabel>
          <a (click)="zoomFit()"><fa-icon icon="expand" class="icons" size="lg"></fa-icon></a>
        </label>

        <label ngbButtonLabel>
          <input name="modeRadioButton" ngbButton type="radio" [value]="'eIdle'">
          <fa-icon icon="eye" class="icons" size="lg"></fa-icon>
        </label>

        <label ngbButtonLabel>
          <input name="modeRadioButton" ngbButton type="radio" [value]="'eAdding'" >
          <fa-icon icon="plus" class="icons" size="lg"></fa-icon>
        </label>
        <label ngbButtonLabel>
          <input name="modeRadioButton" ngbButton type="radio" [value]="'eEditing'" >
          <fa-icon icon="edit" class="icons" size="lg"></fa-icon>
        </label>
        <label ngbButtonLabel>
          <button [disabled]="!isEditingMode()" (click)="deleteSelected()">
            <fa-icon icon="minus" class="icons" size="lg"></fa-icon>
          </button>
        </label>

        &nbsp;
        &nbsp;

        <label ngbButtonLabel>
          <button (click)="clear()">
            <fa-icon icon="trash" class="icons" size="lg"></fa-icon>
          </button>
        </label>
        &nbsp;
        &nbsp;
        <label ngbButtonLabel id="labelMode">
          <h5>{{displayMode()}}</h5>
        </label>
      </div>
    </form>
