<div id="documentThumbnail">
  <div class="d-flex flex-nowrap">
    <p class="pl-1">{{filename}}</p>
    <p id="links" class="ml-auto pr-1">
      <app-document-phases></app-document-phases>
    </p>
  </div>
  <!--<img class="mt-0 pt-0" [defaultImage]="loadingImage" [lazyLoad]="loadedImage$ | async">-->
  <img appSelectable [selection]="selection" (onSelected)="onSelect()" (onDeselected)="onDeselect()"
       [defaultImage]="loadingImage"
       [lazyLoad]="loadedImage$ | async"
       [ngClass]="imageClass"
       [contextMenu]="contextualMenu"
  >
  <app-image-parts [documentParts]="documentParts" [imagePartIds]="imagePartIds"></app-image-parts>
</div>

<context-menu>
  <ng-template contextMenuItem (execute)="preview()">
    Preview
  </ng-template>
</context-menu>
