<div id="documentThumbnail">
  <div class="d-flex flex-nowrap">
    <p class="pl-1">{{filename}}</p>
    <p id="links" class="ml-auto pr-1">
      <app-document-phases [imageID]="imageID"></app-document-phases>
    </p>
  </div>
  <!--<img class="mt-0 pt-0" [defaultImage]="loadingImage" [lazyLoad]="loadedImage$ | async">-->
  <img appSelectable [selectionManager]="selectionManager" [modelID]="imageID" (onSelected)="onSelect()" (onDeselected)="onDeselect()"
       [defaultImage]="loadingImage"
       [lazyLoad]="loadedImage$ | async"
       [ngClass]="imageClass"
       [contextMenu]="contextualMenu"
  >
  <app-image-parts [documentParts]="documentParts" [imagePartIds]="imagePartIds"></app-image-parts>
</div>

<context-menu>
  <ng-template contextMenuItem (execute)="preview()">
    Preview...
  </ng-template>
  <hr>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem><strong>Move to section:</strong></ng-template>
  <ng-template contextMenuItem (execute)="moveToSection(section)" *ngFor="let section of sections; trackBy: sectionTracking">
    {{section.name}}
  </ng-template>
  <ng-template contextMenuItem (execute)="moveToSection(null)">
    Unassign section
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem><strong>Link whole image to part:</strong></ng-template>
  <ng-template contextMenuItem (execute)="linkToPart(part)" *ngFor="let part of documentParts; trackBy: partTracking">
    {{part.name}}
  </ng-template>
  <ng-template contextMenuItem (execute)="linkToNewPart()">
    Create new part...
  </ng-template>
</context-menu>
