<div class="container">
<ng-container *ngIf="document$ | async as document; else loading">

  <div class="row titles">
    <div class="col-7 offset-1 align-self-end">
      <h4>{{document.name | uppercase}}</h4>
      <p><a (click)="viewAlignmentPreview()">Parts alignment preview</a></p>
      <p><a (click)="viewAndExport()">Score view and export</a></p>
      <p><a (click)="editInstruments()">Parts / Instruments</a></p>
      <p *ngIf="statistics$ | async as statistics">
        #{{statistics.images}} images, #{{statistics.pages}} pages, #{{statistics.regions}} regions (#{{statistics.staves}} staves), #{{statistics.agnosticSymbols}} agnostic symbols
      </p>
      <p></p>
    </div>
    <div class="col-4 screenTitle">
      <img class="img-fluid" src="assets/images/document.png" alt="Order images"/>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let image of images$ | async; trackBy: trackByImageFn" class="col-6 col-lg-4 documentImageThumbnail" >
      <app-image-thumbnail [document]="document" [documentPath]="document.path" [image]="image" [attr.data-id]="image.id" [usesOfParts]="usesOfParts$ | async"></app-image-thumbnail>
    </div>
    <div id="uploadImagesButton" class="documentImageThumbnail col-6 col-lg-4 d-flex justify-content-center">
      <div class="align-self-center"><a (click)="uploadImages()">Upload images...</a></div>
    </div>
  </div>
</ng-container>
<ng-template #loading>
  <div class="row">
    <div class="col-10 offset-1">
      <div class="d-flex align-items-center">
        <div class="spinner-grow" role="status" aria-hidden="true"></div>
        <strong>Loading document data, wait... </strong>
      </div>
    </div>
  </div></ng-template>
</div>



<!--<div class="row">
  <div *ngIf="documentIsLoaded()" class="col-7 offset-1">
    <h2>{{document?.name}}</h2>
    <app-inline-setEditingMode [(ngModel)]="document.composer" type="text" [label]="'Enter value for composer'" (changed)="composerChanged($event)" [size]="128"> </app-inline-setEditingMode>
    <p>{{documentStatistics?.images}} images, {{documentStatistics?.pages}} pages, {{documentStatistics?.regions}} regions, {{documentStatistics?.agnosticSymbols}} symbols </p>

    <input type="radio" name="rbDocumentState" [(ngModel)]="documentState" value="none">
    None
    <input type="radio" name="rbDocumentState" [(ngModel)]="documentState" value="inprogress">
    In progress
    <input type="radio" name="rbDocumentState" [(ngModel)]="documentState" value="done">
    Done
    <input type="radio" name="rbDocumentState" [(ngModel)]="documentState" value="doublechecked">
    Double checked

    <app-inline-setEditingMode [(ngModel)]="document.comments" type="text" [label]="'Enter comments'" (changed)="commentsChanged($event)" [size]="128"> </app-inline-setEditingMode>
  </div>

  <div class="col-1">
    <a (click)="uploadImages()">
      Upload images
    </a>
  </div>
  <div class="col-3">
    <img src="assets/images/orderimages.png" alt="Order images"/>
  </div>
</div>

<div class="row">
  <div class="offset-1 col-10">
    <div *ngIf="document; let document; else loading" dragula="DRAGULA_FACTS" #domImages>
      <app-image-thumbnail *ngFor="let image of document.images" [image]="image" [attr.data-id]="image.id"></app-image-thumbnail>
    </div>
    <ng-template #loading>Loading document...</ng-template>
  </div>
</div>
-->
