<div class="container-fluid">
  <!-- menu -->
  <div class="row">
    <nav class="col-1">
      <div>
        <h2>Agnostic</h2>
        Botones
      </div>
      <a (click)="openDocumentAnalysis()">Document analysis</a>
      <br/>
      <a (click)="openSemanticRepresentation()">Semantic representation</a>
    </nav>

    <div class="col">
      <section class="row">
        <div class="col">
          <app-image #selectedRegionImage *ngIf="selectedRegion" [imageID]="imageID" [shapes]="selectedRegionShapes" [zoomFactor]="selectedRegionZoomFactor"
                     [crop]="selectedRegion.boundingBox"
          ></app-image>
        </div>
      </section>

      <section class="row">
        <div class="col">
          Pentagrama
        </div>
      </section>

      <section class="row">
        <div class="col">
          <!-- image -->
          <section class="row">
            <div class="col-6">
              <app-image #imagePreview [imageID]="imageID" [shapes]="imagePreviewShapes" [zoomFactor]="imagePreviewZoomFactor"
                         (svgShapeSelected)="onPreviewImageShapeSelected($event)"
                         (svgShapeDeselected)="onPreviewImageShapeDeselected($event)"
              ></app-image>
            </div>
          </section>
          <!-- end image -->
        </div>
      </section>
    </div>
  </div>
</div>
