.semanticJumbotron {
  margin: 2em;
  font-size: large;
  font-weight: bolder;
  text-align: center;
}


/* TODO Radio boxes con texto repetido en Agnostic */
#addMode * {
  color: white;
  font-weight: lighter;
}

#addMode .active {
  color: #D91E63;
  font-weight: bold;
}

#comments {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: gray;
  z-index: 100;
  width: 100vw;
}

#comments textarea {
  float: left;
  width: 95vw;
  margin-right: 1em;
  height: 100%;
}

.enlargedComments {
  height: 20em;
}

.reducedComments {
  height: 2em;
}

