<div class="container-fluid">
  <!-- menu -->
  <div class="row">
    <nav class="col-1">
      <div>
        <h2>Agnostic</h2>
        <app-crud-toolbar [(mode)]="mode" (modeChange)="onModeChange($event)" (onDelete)="deleteSelectedSymbol()">
        </app-crud-toolbar>

        <form>
          <div [hidden]="!isEditingMode() && !isAddingMode()" class="btn-group-vertical btn-group-toggle" ngbRadioGroup
               name="addMethodRadioButtonGroup" [(ngModel)]="addMethodType">
            <label class="btn-light" ngbButtonLabel>
              <input ngbButton type="radio" name="addMethodRadioButton" [value]="'boundingbox'"> Bounding box
            </label>
            <label class="btn-light" ngbButtonLabel>
              <input ngbButton type="radio" name="addMethodRadioButton" [value]="'strokes'"> Strokes
            </label>

          </div>
        </form>

      </div>
      <a (click)="openDocumentAnalysis()">Document analysis</a>
      <br/>
      <a (click)="openSemanticRepresentation()">Semantic representation</a>
    </nav>

    <div class="col">
      <div *ngIf="selectedRegion$ | async as selectedRegion; else noRegionSelected">
        <section class="row">
          <div class="col">
            <app-image [imageID]="imageID" [shapes]="selectedRegionShapes"
                       [zoomFactor]="selectedRegionZoomFactor"
                       [crop]="selectedRegion.boundingBox"
                       (svgShapeCreated)="onSymbolCreated($event)"
                       (svgShapeChanged)="onSymbolShapeChanged($event)"
                       [nextShapeToDraw]="nextShapeToDraw"
                       [(mode)]="mode"
                       [(selectedShape)]="selectedShape"
            ></app-image>
          </div>
        </section>

        <section class="row">
          <div class="col">
            <app-agnostic-staff
                                [regionCropped]="selectedRegion.boundingBox"
                                [notationType]="notationType" [manuscriptType]="manuscriptType"
                                [mode]="mode"
            >
            </app-agnostic-staff>
          </div>
        </section>
      </div>
      <ng-template #noRegionSelected>
        <p>Select a region</p>
      </ng-template>
      <section class="row" *ngIf="isAddOrEditMode()">
        <div class="col">
          <app-agnostic-toolbar [agnosticSymbolToolbarCategories]="agnosticSymbolToolbarCategories"
                                [notationType]="notationType" [manuscriptType]="manuscriptType"
                                (onAgnosticSymbolTypeSelected)="onAgnosticSymbolTypeSelected($event)"
                                [(selectedAgnosticSymbolType)]="selectedAgnosticSymbolType"
                                (onPitchDown)="movePitchDownSelectedSymbol()"
                                (onPitchUp)="movePitchUpSelectedSymbol()"
          >
          </app-agnostic-toolbar>
        </div>
      </section>

      <section class="row">
        <div class="col">
          <!-- image -->
          <section class="row">
            <div class="col-6">
              <app-image [imageID]="imageID" [shapes]="imagePreviewShapes" [zoomFactor]="imagePreviewZoomFactor"
                         [(selectedShape)]="selectedRegionShape"
                         [mode]="'eSelecting'"
              ></app-image>
            </div>
          </section>
          <!-- end image -->
        </div>
      </section>
    </div>
  </div>
</div>
