<nav *ngIf="menuVisible" id="topMenu" class="navbar navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="home"><img src="/assets/images/logos/muret_menu.png" alt="Logo MuRET"></a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li *ngIf="!isAuthenticated" class="nav-item"><a class="nav-link" routerLink="login">Login</a></li>
      <li *ngIf="isAuthenticated" class="nav-item"><a class="nav-link" routerLink="login">Logout</a></li>
      <li *ngIf="isAuthenticated" class="nav-item"><a class="nav-link" routerLink="export/trainingsets">Training sets</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

