<div class="btn-toolbar" role="toolbar" aria-label="Agnostic toolbar" id="agnosticToolbarEditButtons">
  <div class="btn-group mr-2" role="group" aria-label="Symbol edition">
    <button type="button" class="btn btn-primary" title="Move pitch down"  (click)="movePitchDownSelectedSymbol()">
      <fa-icon icon="angle-down"></fa-icon>
    </button>
    <button type="button" class="btn btn-primary" title="Move pitch up" (click)="movePitchUpSelectedSymbol()">
      <fa-icon icon="angle-up"></fa-icon>
    </button>
    &nbsp;
    <!--<button type="button" class="btn btn-primary" title="Delete" (click)="deleteSelectedSymbol()">
      <fa-icon icon="trash"></fa-icon>
    </button>-->
    &nbsp;
    <!--<input id="showSymbolStrokesCheckBox"
           type="checkbox" [checked]="showSymbolStrokes"/> Show strokes-->

    <!--
    <button *ngFor="let category of agnosticSymbolToolbarCategories"
            type="button" class="btn btn-light" (click)="toggleCollapsed(category)"
            [attr.aria-expanded]="!isCollapsed(category)" aria-controls="collapseExample">
      {{category.name}}
    </button>-->
    <form>
      <label *ngIf="inAddingMode()" class="btn-light mb-2" ngbButtonLabel title="Use classifier">
        <input name="symbolTypeRadioButton" ngbButton type="checkbox" [(ngModel)]="classifier">
        Use classifier
      </label>

      <ng-container ngbRadioGroup name="symbolTypesRadioGroup" [(ngModel)]="selectedAgnosticSymbolType">
        <ng-container *ngFor="let category of agnosticSymbolToolbarCategories"> <!--[ngbCollapse]="isCollapsed(category)"-->
          <label *ngFor="let symbolType of category.agnosticSymbolTypes" class="btn-light mb-2" ngbButtonLabel title="{{symbolType}}">
            <input name="symbolTypeRadioButton" ngbButton type="radio" [value]="symbolType">
            <svg-icon src="assets/icons/agnostic/{{notationType}}/{{manuscriptType}}/{{symbolType}}.svg" [svgStyle]="{ 'width.px':35 }"></svg-icon>
          </label>
          &nbsp;
        </ng-container>
      </ng-container>
    </form>
  </div>
</div>
