<div class="container" id="trainingSets" [style.cursor]="currentCursor">
  <div class="row">
    <h2 class="offset-1 col-9">Export training datasets</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <h3 class="offset-1 col-9">Available exporters</h3>
    </div>

    <label class="row" formArrayName="exportersFormArray" *ngFor="let rb of form.controls.exportersFormArray.controls; let i = index">
      <div class="offset-1 col-1 text-right">
        <input type="radio" checked name="exportersRadioButton" value="{{i}}" (change)="onExporterSelected(i)">
      </div>
      <div class="col-9">
        <h4>{{exporters[i].name}}</h4>
        <p>{{exporters[i].description}}</p>
      </div>
    </label>

    <div class="row">
      <h3 class="offset-1 col-9">Projects to be exported</h3>
    </div>

    <label class="row" formArrayName="projectsFormArray" *ngFor="let cb of form.controls.projectsFormArray.controls; let i = index">
      <div class="offset-1 col-1 text-right">
        <input type="checkbox" [formControlName]="i">
      </div>
      <div class="col-9">
        <h4>{{projects[i].name}}</h4>
        <h5>{{projects[i].state?.state}}</h5>
        <p>{{projects[i].comments}}</p>
      </div>
    </label>

    <div class="row" *ngIf="!form.valid">
      <p class="offset-1 col-9">At least one exporter and one project order must be selected</p>
    </div>

    <div class="row">
      <div class="col offset-2">
        <button [disabled]="!form.valid" class="btn btn-primary btn-lg">Export training set</button>
      </div>
    </div>

  </form>
</div>
