<div class="container" id="trainingSets" [style.cursor]="currentCursor">
  <div class="row">
    <h2 class="offset-1 col-9">Export training datasets</h2>
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="row">
      <h3 class="offset-1 col-9">Available exporters</h3>
    </div>

    <label class="row" formArrayName="exportersFormArray" *ngFor="let rb of form['controls'].exportersFormArray['controls']; let i = index">
      <div class="offset-1 col-1 text-right">
        <input type="radio" checked name="exportersRadioButton" value="{{i}}" (change)="onExporterSelected(i)"
               [disabled]="doesNotHavePermission(exporters[i])"
        >
      </div>
      <div class="col-9">
        <h4>{{exporters[i].name}}</h4>
        <p>{{exporters[i].description}}</p>
        <p *ngIf="exporters[i].adminPermissionRequired">Needs administrator permission</p>
      </div>
    </label>

    <div class="row">
      <h3 class="offset-1 col-9">Documents to be exported</h3>
    </div>

    <label class="row" formArrayName="documentsFormArray" *ngFor="let cb of form['controls'].documentsFormArray['controls']; let i = index">
      <div class="offset-1 col-1 text-right">
        <input type="checkbox" [formControlName]="i">
      </div>
      <div class="col-9">
        <h4>{{documents[i].name}}</h4>
        <h5>{{documents[i].state?.state}}</h5>
        <p>{{documents[i].comments}}</p>
      </div>
    </label>

    <div class="row" *ngIf="!form.valid">
      <p class="offset-1 col-9">At least one exporter and one document order must be selected</p>
    </div>

    <div class="row">
      <div class="col offset-2">
        <button [disabled]="!form.valid || exporting" class="btn btn-primary btn-lg">{{getButtonLabel()}}</button>
      </div>
    </div>

  </form>
</div>

<!--<h2>Exporters</h2>
<div *ngFor="let exporter of exporters$ | async">
  {{exporter.name}}
</div>

<h2>Documents</h2>
<div *ngIf="user$ | async as user">
  <h3>Documents created - TODO fnIndex </h3>
  <div *ngFor="let document of user.documentsCreated">
    {{document.name}}
  </div>

  <h3>Permissions </h3>
  <div *ngFor="let permission of user.permissions">
    {{permission.document.name}}
  </div>
</div>-->

