#trainingSets h3 {
   color: white;
}

#trainingSets h4 {
  color: white;
}

#trainingSets p {
  color: gray;
}

#trainingSets button {
  margin: 10px;
  margin-bottom: 20px;
}

.tree-view-item fa-icon {
  margin-left: .3rem;
  margin-right: .3rem;
}

