<div class="container-fluid">
<div class="row">
  <nav class="col-2">
    <div>
      <button (click)="zoomOut()"><fa-icon icon="search-minus"></fa-icon></button>
      <button (click)="zoomIn()"><fa-icon icon="search-plus"></fa-icon></button>
      <button (click)="zoomFit()"><fa-icon icon="expand"></fa-icon></button>

     <form [formGroup]="toolRadioGroup">
        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" formControlName="model">
          <!--<button (click)="select()">TO-DO Select</button>-->
          <label ngbButtonLabel class="btn-light">
            <input ngbButton type="radio" [value]="'idle'" (click)="idle()"> Idle
          </label>
          <label ngbButtonLabel class="btn-light">
            <input ngbButton type="radio" value="draw" (click)="draw()"> Add
          </label>
          <label ngbButtonLabel class="btn-light">
            <input ngbButton type="radio" value="edit" (click)="edit()"> Edit
          </label>

          <label ngbButtonLabel class="btn-light">
            <button (click)="clear()">Clear</button>
          </label>
        </div>
      </form>

      <form [formGroup]="regionTypesRadioGroupForm">
        <div class="btn-group-vertical btn-group-toggle" ngbRadioGroup name="radioBasic2" formControlName="regionTypeRadioButton">
          <label *ngFor="let regionType of regionTypes$ | async; trackBy: trackByRegionTypeFn" class="btn-primary" ngbButtonLabel>
            <input ngbButton type="radio" value="{{regionType.id}}" (click)="setRegionType(regionType)"> {{regionType.name}}
          </label>

          &nbsp;

          <label class="btn-primary" ngbButtonLabel>
            <input ngbButton type="radio" value="page" (click)="setPage()"> Page
          </label>

        </div>
      </form>

    </div>
  </nav>

  <section class="col-10">
    <!-- layers selector -->
    <nav class="row">
      <form [formGroup]="layersCheckboxes">
        <div class="col btn-group btn-group-toggle">
          <label class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="page" ngbButton> Pages
          </label>
          <label *ngFor="let regionType of regionTypes$ | async; trackBy: trackByRegionTypeFn" class="btn-primary" ngbButtonLabel>
            <input type="checkbox" formControlName="{{regionType.name}}" ngbButton> {{regionType.name}}
          </label>
        </div>
      </form>
    </nav>

    <!-- image -->
    <article class="row">
      <div class="col">
        <div *ngIf="documentAnalysisImageProjection$ | async as documentAnalysisImageProjection; else loading">
          <h2>{{documentAnalysisImageProjection.filename}}</h2>

          <div *ngIf="loadedImage$ | async as loadedImage; else loading">
            <div #canvas id="canvas">
              <!-- shape selected, changed, and deselected are forwarded from the canvas -->
              <app-svg-canvas #svgCanvasComponent
                              [shapes]="shapes" [backgroundImage]="loadedImage"
                              [widthPercentage]="canvasWidthPercentage" [heightPercentage]="canvasHeightPercentage"
                              [viewPortWidth]="imageWidth" [viewPortHeight]="imageHeight"
                              (svgShapeCreated)="onShapeCreated($event)"
                              (svgShapeChanged)="onShapeChanged($event)"
                              (svgShapeSelected)="onShapeSelected($event)"
                              (svgShapeDeselected)="onShapeDeselected($event)"

              >
              </app-svg-canvas>
            </div>
          </div>
          <ng-template #loading>
            <img src="assets/images/loading.svg" alt="Master loading">
          </ng-template>

        </div>
        <ng-template #loading>
          Loading image data ...
        </ng-template>
      </div>
    </article>
  </section>
</div>
</div>
