<div class="container">
  <div id="loginJumbotron" class="jumbotron">
    <p><img class="img-fluid" src="assets/images/logos/muret_negativo.png" alt="Logo MuRET"></p>
    <p>Music Recognition, encoding, and transcription</p>
  </div>


  <div id="login">
    <!-- login -->
    <div *ngIf="isAuthenticated$ | async; else loginBlock" class="col-5 ">
      <div class="col-10">
        <h1>Logout</h1>
        <h3>{{username$ | async}}</h3>
        <p>Do you really want to exit? &nbsp;
          <button class="btn btn-primary" (click)="logout()">Press to logout</button>
        </p>
      </div>
    </div>
    <!-- logout -->
    <ng-template #loginBlock>
      <form role="form" (submit)="login()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="credentials.username"/>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password" [(ngModel)]="credentials.password"/>
        </div>

        <div *ngIf="(errorMessage$ | async)?.length > 0" id="loginError" class="alert alert-danger">
          There was a problem logging in: {{errorMessage$ | async}}
        </div>

        <div>
          <a [routerLink]="'/resetpwd'" color="primary">
            Forgot your password?
          </a>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </ng-template>
  </div>

  <footer id="footerLogin">
    <div class="container">
      <div class="row">
        <div class="col-2">
          <p>
            <a [routerLink]="'/about'">About</a>
          </p>
        </div>
        <div class="col-2 offset-8">
          <p><img class="img-fluid" src="assets/images/logos/hispamus_negativo_sin_fondo.png" alt="Logo HISPAMUS"></p>
        </div>
      </div>
    </div>
  </footer>
</div>

