#loginJumbotron {
  background-color: transparent;
  margin-bottom: 0;
}

#loginJumbotron img {
  max-height: 12vh;
  max-width: 24vw;
  margin-top: 4rem;
}

#loginJumbotron  p {
  text-align: center;
}

#login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#footerLogin {
  position: fixed;
  bottom: 2px;
}
