<div class="container-fluid">
  <nav class="row">
    <div class="offset-8 col-4" id="linksPhases">
      Go to:
      <button (click)="openDocumentAnalysis()">Doc. analysis</button>
      <button (click)="openAgnosticRepresentation()">Agnostic</button>
    </div>
  </nav>

  <div *ngIf="selectedRegion as selectedRegion; else noRegionSelected">
    <section class="row">
      <div class="col">
        <app-image [imageID]="imageID"
                       [zoomFactor]="selectedRegionZoomFactor"
                       [crop]="selectedRegion.boundingBox"
                       [mode]="'eIdle'"
        ></app-image>
      </div>
    </section>

    <section class="row">
      <div class="col">
            <ng-container *ngIf="notation$ | async as notation">
              <app-notation [notation]="notation"></app-notation>
            </ng-container>
          </div>
    </section>

    <aside>
      <button class="btn btn-primary" (click)="convertAgnosticSemantic()">Convert from agnostic</button>
      <button class="btn btn-primary" (click)="isManualEntryCollapsed = !isManualEntryCollapsed"
              [attr.aria-expanded]="!isManualEntryCollapsed" aria-controls="manualEntryPanel">
        Manual entry
      </button>
    </aside>
  </div>

  <ng-template #noRegionSelected>
    <div class="jumbotron align-content-md-center" id="jumbotronSelectRegion">
      <p>Select a region</p>
    </div>
  </ng-template>
</div>

<section class="row">
  <div id="manualEntryPanel" class="col-8">
    <div class="card" [ngbCollapse]="isManualEntryCollapsed">
      <div class="card-title">
        <h5>Use **kern or **mens here:</h5>
      </div>
      <div class="card-body">
        <textarea cols="40">

        </textarea>
      </div>
    </div>
  </div>

  <div class="col-4">
    <app-image-preview [imageID]="imageID" (selectedRegion)="setSelectedRegion($event)">
    </app-image-preview>
  </div>
</section>

