<div class="container-fluid">
  <nav class="row">
    <div class="col-4" id="linksPhases">
      Go to:
      <button (click)="openDocumentAnalysis()">Doc. analysis</button>
      <button (click)="openAgnosticRepresentation()">Agnostic</button>
    </div>
    <!--<div class="col-2 form-group">
      Select translation model:
      <select class="form-control" id="models" required>
        <option *ngFor="let model of translationModels$ | async" [value]="model.id">{{model.name}}</option>
      </select>
      <button class="btn btn-primary">Translate</button>
    </div>-->
  </nav>

  <section class="row" id="semanticInstruments">
    <div class="col-2">
      <a (click)="editInstruments()">See all parts / instruments</a>
    </div>
    <div class="col" *ngIf="hasPartAssignedToImage(); else noPartAssignedToImage">
      <button (click)="unlinkPartToImage()">Unlink part / instrument</button>
      &nbsp;
      <span>All staves in this parts are linked to: {{getPartAssignedToImage().name}}</span>
    </div>
    <ng-template #noPartAssignedToImage>
      <div class="col">
        <button (click)="linkPartToImage()">Link part to whole image</button>
        <div *ngIf="selectedRegion">
          <p *ngIf="hasPartAssignedToRegion(); else noPartAssignedToRegion">
            <button (click)="unlinkPartToRegion()">Unlink part from selected region</button>
            &nbsp;
            Selected region linked to part: {{getPartAssignedToRegion().name}}
          </p>
          <ng-template #noPartAssignedToRegion>
            <button (click)="linkPartToRegion()">Link part to selected region</button>
          </ng-template>
        </div>
      </div>
    </ng-template>
  </section>

  <div *ngIf="selectedRegion as selectedRegion; else noRegionSelected">
    <section class="row">
      <div class="col">

        <!--<app-image [imageID]="imageID"
                       [zoomFactor]="selectedRegionZoomFactor"
                       [crop]="selectedRegion.boundingBox"
                       [mode]="'eIdle'"
        ></app-image>-->

        <app-image [imageID]="imageID" [shapes]="selectedRegionAgnosticShapes"
                   [zoomFactor]="selectedRegionZoomFactor"
                   [crop]="selectedRegion.boundingBox"
                   [mode]="'eSelecting'"
        ></app-image> <!-- [(selectedShapeID)]="selectedAgnosticShapeID" -->

      </div>
    </section>

    <div *ngIf="hasPartAssigned(); else noPartAssigned">
      <section class="row">
        <div class="col">
              <ng-container *ngIf="hasNotation()">
                <app-notation [notation]="notation" [selectedItem]="selectedSemanticSymbolID" (onItemSelected)="onNotationSymbolSelected($event)"></app-notation>
              </ng-container>
            </div>
      </section>
      <aside>
        <!--Not implemented yet: <button class="btn btn-primary" disabled>
          Semantic end-to-end
          <span *ngIf="isProcessing()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>-->
        <button class="btn btn-primary" (click)="convertAgnosticSemantic()">
          {{semanticLabel}}
          <span *ngIf="isProcessing()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
        <button class="btn btn-secondary" (click)="clearSemanticEncoding()">
          Clear semantic encoding
        </button>
        <button class="btn btn-primary" (click)="showManualEntry()"
                [attr.aria-expanded]="isManualEntrySelected()" aria-controls="manualEntryPanel">
          Manual entry
        </button>
        <button class="btn btn-secondary" (click)="showMEI()"
                [attr.aria-expanded]="isMEISelected()" aria-controls="meiPanel">
          Show MEI
        </button>
        <button class="btn btn-primary" (click)="showToolbar()"
                [attr.aria-expanded]="isToolbarSelected()" aria-controls="toolbarPanel">
          Show Toolbar
        </button>

      </aside>
    </div>
  </div>

  <ng-template #noRegionSelected>
    <div class="jumbotron align-content-md-center" class="semanticJumbotron">
      <p>Select a region</p>
    </div>
  </ng-template>

  <ng-template #noPartAssigned>
    <div class="jumbotron align-content-md-center" class="semanticJumbotron">
      <p>Link a part to the image or the region to work in semantic mode</p>
    </div>
  </ng-template>

  <section class="row">
    <div class="col-8">
        <div id="manualEntryPanel" class="card" [ngbCollapse]="isManualEntryCollapsed()">
          <div class="card-title">
            <h5>Use **kern or **mens here:</h5>
          </div>
          <div class="card-body">
            <button class="btn-primary" (click)="insertFirstRow()">Insert first/top row</button>
            <button class="btn-primary" (click)="addRow()">Add row below</button>
            <button class="btn-secondary" (click)="removeSelectedRow()">Remove row</button>
            <ag-grid-angular
              style="width: 500px; height: 500px;"
              class="ag-theme-balham"
              [rowSelection]="'single'"
              [defaultColDef]="defaultColDef"
              [rowData]="rowData"
              [columnDefs]="columnDefs"
              (gridReady)="onGridReady($event)"
              (rowSelected)="onGridRowSelected($event)"
            >
            </ag-grid-angular>

            <!--<textarea cols="80" rows="20" [ngModel]="semanticEncoding" (ngModelChange)="manualInputChanged($event)">
            </textarea>-->
          </div>
          <div class="card-deck">
            <button class="btn-secondary" (click)="sendSemanticEncoding()">
              Send semantic encoding
            </button>
          </div>
        </div>

        <div id="meiPanel" class="card" [ngbCollapse]="isMEICollapsed()">
          <div class="card-title">
            <h5>MEI:</h5>
          </div>
          <div *ngIf="hasNotation()" class="card-body">
            <textarea cols="80" rows="20">{{notation.content}}</textarea>
          </div>
        </div>

        <div id="toolbarPanel" class="card" [ngbCollapse]="isToolbarCollapsed()">
          <h2>Prueba</h2>
          <!--<hr *ngIf="selectedSymbol">
          <app-agnostic-or-semantic-toolbar *ngIf="selectedSymbol"
                                            [filters]="semanticToolbarFilters"
                                            [mode]="mode" [classifier]="classifier" (classifierChanged)="onClassifierChanged($event)"
                                            [svgAgnosticOrSemanticSymbolSet]="svgSet$ | async"
                                            (agnosticOrSemanticSymbolSelected)="onAgnosticSymbolTypeSelected($event)"
                                            (pitchDown)="movePitchDownSelectedSymbol()"
                                            (pitchUp)="movePitchUpSelectedSymbol()"
                                            [frequentSymbols]="frequentSymbols"
          >
          </app-agnostic-or-semantic-toolbar>-->
          <app-agnostic-or-semantic-toolbar [filters]="semanticToolbarFilters"
                                            [svgAgnosticOrSemanticSymbolSet]="svgSet$ | async"
          >
          </app-agnostic-or-semantic-toolbar>
        </div>

    </div>

    <div class="col-4">
      <app-image-preview [imageID]="imageID" (selectedRegion)="setSelectedRegion($event)">
      </app-image-preview>
    </div>
  </section>

</div>
