<div class="container-fluid">
  <nav class="row">
    <div class="offset-8 col-4" id="linksPhases">
      Go to:
      <button (click)="openDocumentAnalysis()">Doc. analysis</button>
      <button (click)="openAgnosticRepresentation()">Agnostic</button>
    </div>
  </nav>

  <div *ngIf="selectedRegion as selectedRegion; else noRegionSelected">
    <section class="row">
      <div class="col">
        <app-image [imageID]="imageID"
                       [zoomFactor]="selectedRegionZoomFactor"
                       [crop]="selectedRegion.boundingBox"
                       [mode]="'eIdle'"
        ></app-image>
      </div>
    </section>

    <section class="row">
      <div class="col">
            <ng-container *ngIf="!errorMessage">
              <app-notation [notation]="notation"></app-notation>
            </ng-container>
          </div>
    </section>

    <aside>
      <button class="btn btn-primary" (click)="convertAgnosticSemantic()">
        Convert from agnostic
      </button>
      <button class="btn btn-primary" (click)="showManualEntry()"
              [attr.aria-expanded]="isManualEntrySelected()" aria-controls="manualEntryPanel">
        Manual entry
      </button>
      <button class="btn btn-secondary" (click)="showMEI()"
              [attr.aria-expanded]="isMEISelected()" aria-controls="meiPanel">
        Show MEI
      </button>
    </aside>
  </div>

  <ng-template #noRegionSelected>
    <div class="jumbotron align-content-md-center" id="jumbotronSelectRegion">
      <p>Select a region</p>
    </div>
  </ng-template>

  <section class="row">
    <div id="manualEntryPanel" class="col-8">
      <div class="card" [ngbCollapse]="isManualEntryCollapsed()">
        <div class="card-title">
          <h5>Use **kern or **mens here:</h5>
        </div>
        <div class="card-body">
          <textarea cols="80" rows="20" [ngModel]="semanticEncoding" (ngModelChange)="manualInputChanged($event)">
          </textarea>
        </div>
        <div class="card-deck">
          <button class="btn-secondary" (click)="sendSemanticEncoding()">
            Send semantic encoding
          </button>
        </div>
      </div>
    </div>

    <div id="meiPanel" class="col-8">
      <div class="card" [ngbCollapse]="isMEICollapsed()">
        <div class="card-title">
          <h5>MEI:</h5>
        </div>
        <div *ngIf="notation" class="card-body">
          <p>{{notation.content}}</p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <app-image-preview [imageID]="imageID" (selectedRegion)="setSelectedRegion($event)">
      </app-image-preview>
    </div>
  </section>

  <div class="row" *ngIf="errorMessage">
    <div class="col">
      <p class="alert-warning">{{errorMessage}}</p>
    </div>
  </div>

</div>
