<div id="classifiers">
  Automatic:
  <select class="form-control" id="agnosticEnd2EndClassifierModel" [(ngModel)]="danalysisModel" required>
    <option *ngFor="let model of documentAnalysisModels$ | async" [value]="model.id">{{model.name}}</option>
  </select>
  <button class="btn btn-primary" (click)="attemptDocumentAnalysis()">
    <fa-icon *ngIf="!processing" icon="server" class="icons" size="lg" ngbTooltip="Execute document analysis"></fa-icon>
    <span *ngIf="processing" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  </button>
</div>

