<div class="container">
  <div class="row titles">
    <div class="col-7 offset-1 align-self-end">
      <img src="assets/images/mydocuments.png" alt="My documents"/>
    </div>
    <div class="col-4 screenTitle">
      <img class="img-fluid" src="assets/images/opendocument_small.png" alt="Open document"/>
    </div>
  </div>

  <div *ngIf="collection; else loading">
    <div class="row">
      <div class="col-10 offset-1">
        <h2>{{collection.name}}</h2>
      </div>
    </div>


    <div *ngIf="collection.parentId != null" class="row">
      <div class="col-10 offset-1">
        <p><a [routerLink]="['/documents', collection.parentId]">Parent collection</a></p>
      </div>
    </div>

    <div class="row documents">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col">
            <h3>Subcollections</h3>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let subcollection of collection.subcollections; trackBy: trackBySubcollectionFn" class="document col-4 col-lg-3">
            <div class="card">
              <div class="card-body">
                <p>
                  <a [routerLink]="['/documents', subcollection.id]">{{subcollection.name}}</a>
                </p>
                <p *ngIf="canBeDeleted(subcollection); else cannotDeleteSubcollection">
                  <a class="card-link"(click)="deleteSubcollection(subcollection.id)">Delete</a>
                </p>
                <ng-template #cannotDeleteSubcollection>
                  <p>#{{subcollection.subcollections.length}} subcollections</p>
                  <p>#{{subcollection.documents.length}} documents</p>
                </ng-template>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p>
                <a (click)="addSubcollection()">Add subcollection</a>
              </p>
            </div>
          </div>

          <div class="card">
            <div class="card-body">
              <p>
                <a (click)="moveToSubcollection()">Move selected documents to subcollection</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row documents">
      <div class="col-10 offset-1">
        <div class="row">
          <div class="col">
            <h3>Documents</h3>
          </div>
        </div>
        <div class="row">
          <div *ngFor="let document of collection.documents; trackBy: trackByDocumentFn" class="document col-4 col-lg-3">
            <div class="card">
              <img class="card-img-top img-thumbnail" *ngIf="document.thumbnailBase64Encoding" src="{{document.thumbnailBase64Encoding}}" alt="Document thumbnail">
              <img class="card-img-top img-thumbnail" *ngIf="!document.thumbnailBase64Encoding" src="assets/images/empty_thumbnail.png" alt="Document thumbnail">
              <app-state [state]="document.state"></app-state>
              <div class="card-body">
                <p>
                  <input type="checkbox" [id]="document.id" (change)="onDocumentSelectionChanged($event)">&nbsp;
                    <a [routerLink]="['/document', document.id]">{{document.name}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #loading>
    Loading collection data ...
  </ng-template>
</div>
