<div class="container-fluid">
<!-- menu -->
  <div class="row">
  <nav class="col-1">
    <div>
      <h2>Document analysis</h2>
      <app-crud-toolbar (onClear)="clear()" (onDelete)="deleteSelected()" [(mode)]="mode">
      </app-crud-toolbar>

      <form>
        <div [hidden]="!isEditingMode() && !isAddingMode()" class="btn-group-vertical btn-group-toggle" ngbRadioGroup
             name="regionTypeRadioButtonGroup" [(ngModel)]="selectedRegionTypeID">
          <label *ngFor="let regionType of regionTypes$ | async; trackBy: trackByRegionTypeFn" class="btn-light" ngbButtonLabel>
            <input ngbButton type="radio" name="regionTypeRadioButton" [value]="regionType.id" (click)="setRegionType(regionType)"> {{regionType.name}}
          </label>
          <label class="btn-light" ngbButtonLabel>
            <input ngbButton type="radio" name="regionTypeRadioButton" [value]="'page'" (click)="setPage()"> Page
          </label>

        </div>
      </form>

    </div>
    <a (click)="openAgnosticRepresentation()">Agnostic representation</a>
    <br/>
    <a (click)="openSemanticRepresentation()">Semantic representation</a>
  </nav>

  <section class="col-11">
    <div class="row">
      <h2 class="col">{{filename$ | async}}</h2>
    </div>

    <!-- layers selector -->
    <nav class="row">
      <form>
        <!-- btn-group-toggle -->
        <div class="col btn-group">
          <button (click)="zoomOut()"><fa-icon icon="search-minus"></fa-icon></button>
          <button (click)="zoomIn()"><fa-icon icon="search-plus"></fa-icon></button>
          <button (click)="zoomFit()"><fa-icon icon="expand"></fa-icon></button>

          <label class="btn-light" ngbButtonLabel>
            <input type="checkbox" [checked]="true" name="page" (change)="onLayerVisibilityChanged($event)"> Pages
          </label>
          <label *ngFor="let regionType of regionTypes$ | async; trackBy: trackByRegionTypeFn" class="btn-light" ngbButtonLabel>
            <input type="checkbox" [checked]="true" name="{{regionType.name}}" (change)="onLayerVisibilityChanged($event)"> {{regionType.name}}
          </label>
        </div>
      </form>
    </nav>

    <!-- image -->
    <section class="row">
      <div class="col">
        <app-image [imageID]="imageID" [shapes]="shapes" [zoomFactor]="zoomFactor"
        (svgShapeCreated)="onShapeCreated($event)"
        (svgShapeChanged)="onShapeChanged($event)"
        [(selectedShape)]="selectedShape"
        [nextShapeToDraw]="'Rectangle'"
        [(mode)]="mode"
        ></app-image>
      </div>
    </section>
    <!-- end image -->
  </section>
</div>
</div>
