#docAnalysisToolBar {
  height: 5vh; /** see layout.component.css **/
}

#regionTypesFilter {
  height: 5vh;
}

#docAnalysisStatusBar {
  height: 2vh;
  position: fixed;
  z-index: 100;
  bottom: 0;
  background-color: #7DE2DB;
}

#partName {
  height: 3vh;
}

#docAnalysisImage {
  /** 100 - 5 (=menu in layout.component.css) - 5 (=#docAnalysisToolBar) - 5 (=regionTypesFilter) - 2 (=docAnalysisStatusBar) - 3 (=partName)) **/
  max-height: 80vh;
  overflow: auto;
}
#footerIdImage {
  font-size: small;
  color: #103339;
  text-align: right;
  height: 1em;
}

.sidebar {
  background-color: #7DE2DB;
  color: black;
}

.sidebar * {
  font-size: small;
}

#regionTypesFilter label {
  margin-bottom: 0;
}


/* TODO Radio boxes con texto repetido en Agnostic */
#regionTypesEdit * {
  color: white;
  font-weight: lighter;
}

#regionTypesEdit .active {
  color: #D91E63;
  font-weight: bold;
}

.creationtools:hover
{
  cursor: pointer;
  background-color: #7DE2DB;
}

.centeredHeader
{
  text-align: center;
}

label:hover
{
  background-color: #7DE2DB;
  cursor: pointer;
}
  label:hover *
  {
    color: #103339;
  }

