<div #svgContent>
  <!-- hidden - used to get the size of the image -->
  <img (load)="onBackgroundHiddenImageElementLoaded($event)" id="backgroundHiddenImageElement" *ngIf="backgroundImage" [src]="unsafeBackgroundImage"/>

  <svg id="canvas" version="1.1" [ngClass]="cursorClass" #canvas xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
       [attr.width]="scaledImageWidth" [attr.height]="scaledImageHeight"
       [attr.viewBox]="viewBox"
       (mousedown)="onMouseDown($event)" (touchstart)="onTouchStart($event)"
       (mouseup)="onMouseUp($event)" (touchend)="onTouchEnd($event)"
       (mousemove)="onMouseMove($event)" (touchmove)="onTouchMove($event)"
       (contextmenu)="onContextMenuEvent($event)"
  >

    <!--
       (tap)="onPanStart($event)"
       (panstart)="onPanStart($event)"
       (panmove)="onPanMove($event)"
       (panend)="onPanEnd($event)"
-->
    <!--(mousedown)="onMouseDown($event)" (touchstart)="onTouchStart($event)"
    (mouseup)="onMouseUp($event)" (touchend)="onTouchEnd($event)"
    (mousemove)="onMouseMove($event)" (touchmove)="onTouchMove($event)"-->

    <image *ngIf="backgroundImage" [attr.xlink:href]="backgroundImage" preserveAspectRatio="xMinYMin slice"
           [attr.width]="viewPortWidth" [attr.height]="viewPortHeight"/>

    <!-- width and height compulsory for Firefox and Safari -->

    <!--<g *ngFor="let shape of shapes; trackBy: trackByShapeFn">-->
    <!-- Don't add shapeFn, Force repainting DOM because otherwise it does not create the shape again and it causes problems -->
    <g *ngFor="let shape of shapes" (dblclick)="onDblClickOnShape(shape)">
      <ng-container [ngSwitch]="shape.type">
        <ng-container *ngSwitchCase="'Rectangle'">
          <g appRectangle [appRectangle]="shape" [shape]="shape" [editing]="isEditing()" [selected]="isSelected(shape)"></g>
        </ng-container>
        <ng-container *ngSwitchCase="'Line'">
          <g appLine [appLine]="shape"  [shape]="shape" [editing]="isEditing()" [selected]="isSelected(shape)"></g>
        </ng-container>
        <ng-container *ngSwitchCase="'Polylines'">
          <g appPolyline [appPolylines]="shape"  [shape]="shape" [editing]="isEditing()" [selected]="isSelected(shape)"></g>
        </ng-container>
        <ng-container *ngSwitchCase="'Text'">
          <g appText [appText]="shape"  [shape]="shape" [editing]="isEditing()" [selected]="isSelected(shape)"></g>
        </ng-container>
      </ng-container>
    </g>
  </svg>
</div>
