<!-- hidden - used to get the size of the image -->
<img (load)="onBackgroundHiddenImageElementLoaded($event)" id="backgroundHiddenImageElement" *ngIf="backgroundImage" [src]="unsafeBackgroundImage"/>

<svg [ngClass]="cursorClass" #canvas xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
     (mousedown)="onMouseDown($event)" (mouseup)="onMouseUp($event)" (mousemove)="onMouseMove($event)"
     [attr.width.%]="widthPercentString" [attr.height.%]="heightPercentString"
     [attr.viewBox]="viewBox">
  <image *ngIf="backgroundImage" [attr.xlink:href]="backgroundImage"/>

  <!--<g *ngFor="let shape of shapes; trackBy: trackByShapeFn">-->
  <!-- Force repainting DOM because otherwise it does not create the shape again and it causes problems -->
  <g *ngFor="let shape of shapes">
    <ng-container [ngSwitch]="shape.type">
      <ng-container *ngSwitchCase="'Rectangle'">
        <g appRectangle [appRectangle]="shape" [shape]="shape"></g>
      </ng-container>
      <ng-container *ngSwitchCase="'Line'">
        <g appLine [appLine]="shape"  [shape]="shape"></g>
      </ng-container>
      <ng-container *ngSwitchCase="'Polylines'">
        <g appPolyline [appPolylines]="shape"  [shape]="shape"></g>
      </ng-container>
      <ng-container *ngSwitchCase="'Text'">
        <g appText [appText]="shape"  [shape]="shape"></g>
      </ng-container>
    </ng-container>
  </g>
</svg>
