<form>
  <div *ngIf="selectedRegionTypeID != 'several'"
    [(ngModel)]="selectedRegionTypeID"
       class="form-group btn-group btn-group-toggle d-flex flex-column align-items-end"
       id="docAnalysisToolBar"
       name="regionTypeRadioButtonGroup" ngbRadioGroup>
    <label class="btn-toolbar" ngbButtonLabel>
      <input ngbButton type="radio" name="regionTypeRadioButton" [value]="'page'" (click)="setPage()">Page
    </label>
    <label *ngFor="let regionType of getSortedRegionTypes(); trackBy: trackByRegionTypeFn" class="btn-toolbar" ngbButtonLabel>
      <input [disabled]="disableRegions" ngbTooltip="{{regionType.help}}" ngbButton type="radio" name="regionTypeRadioButton" [value]="regionType.id" (click)="setRegionType(regionType)"> {{beautifyRegionName(regionType)}}
    </label>
  </div>
</form>
<p *ngIf="selectedRegionTypeID == 'several'" id="severalSelected">
  Several types selected
</p>
