<div class="thumbnail">
  <div *ngIf="loadedImage$ | async as loadedImage; else loading" (click)="previewImage()">
    <img [src]="loadedImage" alt="Thumbnail">
  </div>
  <ng-template #loading>
    <img class="img-fluid" src="assets/images/loading.svg" alt="Thumbnail loading">
  </ng-template>

  <!--<p>
    <img #imageThumbnail alt="Image">
  </p>
  <h5>{{image?.filename}}</h5>-->
  <p class="links">
    {{image.filename}}
    &nbsp;
    <a class="openLink" (click)="openDocumentAnalysis()">Doc.analysis</a>
    <br>
    <a class="openLink" (click)="openAgnostic()">Agnostic</a>&nbsp;|&nbsp;
    <a class="openLink" (click)="openSemantic()">Semantic</a>
  </p>
</div>
