<div id="mainRegionTypesFilter">
  <label *ngFor="let regionType of mainRegionTypes; trackBy: trackByRegionTypeFn" ngbButtonLabel>
    <input type="checkbox" [checked]="isStaff(regionType)" [name]="regionType.name" (change)="onLayerVisibilityChanged($event)">
    {{beautifyRegionName(regionType)}}
  </label>
  <label ngbButtonLabel>
    <input type="checkbox" [checked]="false" (change)="selectAllNone($event)"> Select all/none
  </label>
  <a [routerLink]="" data-toggle="collapse" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed" aria-controls="otherRegionTypesFilter">
    Show more...
  </a>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" id="otherRegionTypesFilter">
    <label *ngFor="let regionType of otherRegionTypes; trackBy: trackByRegionTypeFn" ngbButtonLabel>
      <input type="checkbox" [checked]="false" [name]="regionType.name" (change)="onLayerVisibilityChanged($event)">
      {{beautifyRegionName(regionType)}}
    </label>
</div>
