<div id="documentAnalysisNavigator">
  <div *ngIf="shapes && loadedImage$ | async as loadedImage; else loading">
    <div #canvas id="imageCanvas">
      <!-- shape selected, changed, and deselected are forwarded from the canvas -->
      <app-svg-canvas #svgCanvasComponent
        [shapes]="shapes" [backgroundImage]="loadedImage"
                      [zoomFactor]="zoomManager.zoomFactor"
                      [mode]="mode"
                      (onContextMenu)="onSVGContextMenu($event)"
                      (onShapesSelected)="onSVGShapesSelected($event)"
      >
      </app-svg-canvas>
    </div>
  </div>

  <ng-template #loading>
    <img class="img-fluid" src="assets/images/loading.svg" alt="Thumbnail loading">
  </ng-template>

  <div>
    <app-document-analysis-filters [regionTypes]="regionTypes" (onFilterChange)="onFilterChange($event)"></app-document-analysis-filters>
  </div>
</div>

