<div class="container">
  <div class="row">
    <h2 class="col">Select images:</h2>
  </div>
  <div class="row">
    <div class="col">
      <button (click)="selectAllImages()">Select all</button>
      &nbsp;
      <button (click)="selectNoImage()">Select none</button>
    </div>
  </div>
  <div class="row">
    <div class="col-2" *ngFor="let selectedImage of selectedImages; trackBy: trackByImageFn">
      <input type="checkbox" [(ngModel)]="selectedImage.checked">
      {{selectedImage.image.filename}}
          <ul>
            <li *ngFor="let partName of partsUsedByImage(selectedImage.image); trackBy: trackByPartNameFn">
              {{partName}}
            </li>
          </ul>
    </div>
  </div>
  <!--<div class="row"> it is deprecated, this functionality is achieved in the alignment preview
    <div class="col">
      <br>
      <h3>Verifications on selected images</h3>
      <button (click)="preflightCheck()">Check document for exporting</button>
      <ul *ngIf="preflightCheckResults$ | async as preflightCheckResults">
        <li *ngFor="let preflightCheckResultImage of preflightCheckResults.preflightCkeckImageResults; trackBy: trackByPreflightResultImageFn">
          <a (click)="openSemanticImage(preflightCheckResultImage.imageID)">{{preflightCheckResultImage.imageName}}</a>

          <ul *ngIf="preflightCheckResultImage.regionResults">
            <li *ngFor="let regionResults of preflightCheckResultImage.regionResults">
            <p><a (click)="openSemanticRegion(preflightCheckResultImage.imageID, regionResults.regionID)">Region #{{regionResults.regionID}}</a></p>

            <ol *ngIf="regionResults.messages">
              <li class="preflightErrorMessage" *ngFor="let message of regionResults.messages; trackBy: trackByPreflightResultMessageFn">
                {{message}}
              </li>
            </ol>


          </ul>
        </li>
      </ul>

    </div>
  </div>-->
  <div class="row">
    <div class="col">
      <br> <!--TODO maquetación -->
      <h3>Export of selected images</h3>
      <button (click)="exportPartsAndFacsimile(false)">
        <span *ngIf="isExportingPartsAndFacsimile()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Export to MEI file with parts and facsimile
      </button>

      <button (click)="exportPartsAndFacsimile(true)">
        <span *ngIf="isExportingPartsAndFacsimile()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Export Measuring Polyphony
      </button>
      &nbsp;&nbsp;
      <button (click)="exportFullMensurstrich()">
        <span *ngIf="isExportingMensurstrich()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Export mensurstrich
      </button>
      &nbsp;&nbsp;
      <button (click)="exportMusicXML()">
        <span *ngIf="isExportingMusicXML()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Export MusicXML (modern notation)</button>

      &nbsp;
      <button (click)="exportToVHV()">
        Export to VHV
      </button>
    </div>
 </div>

  <hr>
   <div class="row">
     <div class="col-12">
       <h3>MEI/Verovio Visualization of selected images</h3>

       <button (click)="exportMEI()">
         <span *ngIf="isExportingMEI()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
         Export MEI
       </button>
      &nbsp;
       <button (click)="visualizeMEI()">
         <span *ngIf="isVisualizingMEI()" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
         Visualize MEI
       </button>

     </div>

       <!--<div ngbDropdown class="d-inline-block">
         <button class="btn btn-outline-primary" id="dropdownForm1" ngbDropdownToggle>Select part to be rendered</button>
         <div ngbDropdownMenu aria-labelledby="dropdownForm1">
           <button (click)="renderFullScore()">Full score</button>
           <ng-container *ngIf="usesOfParts">
            <button *ngFor="let uses of usesOfParts.uses" ngbDropdownItem (click)="render(uses.part.id)">{{uses.part.name}}</button>
           </ng-container>
         </div>
       </div>
     </div>-->
   </div>
</div>

