<div class="modal-dialog modal-dialog-centered modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <h4>{{title || 'Confirm'}}</h4>
  </div>
  <div class="modal-body">
    <p>{{message}}</p>
    <input *ngIf="singleLine" id="inputDialogInput" [(ngModel)]="currentValue"/>
    <textarea *ngIf="!singleLine" id="inputDialogTextArea" [(ngModel)]="currentValue"></textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="confirm()">OK</button>
  </div>
</div>
</div>
