<div class="container">
    <h2>Welcome to the admin dashboard</h2>
    <br>
        <div class="row">
          <div class="col-4">
            <a routerLink="register">
                <div class="dashboard-button">
                    <p>Create an <b>account</b></p>
                </div>
            </a>
          </div>
          <div class="col-4">
            <div class="dashboard-button">
              <a routerLink="registermodel">
                <div class="dashboard-button">
                    <p>Upload <b>a new model</b></p>
                </div>
            </a>
            </div>
          </div>
          <div class="col-4">
            <div class="dashboard-button">
              <a routerLink="permissions">
                <div class="dashboard-button">
                    <p>Manage <b>permissions</b></p>
                </div>
            </a>
            </div>
          </div>

        </div>
</div>



